/* Core functions */
.d-flex{
    display: flex;
}
nav ul li {             /* Espacer les onglets */
    margin-left: 10px;
    margin-right: 30px;
}
ul {                    /* Retirer points noirs des listes ul */
    list-style: none;
}
body {                  /* Supprime les marges par défaut */
    margin: 0; 
}

/* Center Align functions */
.align-items-center {
    align-items: center; 
}
.justify-content-center {
    justify-content: center;
}
.text-align-center {
    text-align: center;
}

/* Background Design */
.header-bg{
    background-color: rgb(255, 255, 0);
    margin: 0;
    height: 100px;    
}
.footer-bg{
    background-color: rgb(255, 255, 0);
    margin: 0;
    height: 100px;    
}
.main-bg{
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100vh;    
}

/* Button Design */
.button {
    border: 2px solid;
    background-color: rgb(255, 255, 0);
    padding: 10px 50px;
    position: relative;
}
.button::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -14px;
    left: -13px;
    background-color: rgb(255, 255, 0);
    border-top: 2px solid;
    transform: rotate(45deg);
}
.button::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: -14px;
    right: -13px;
    background-color: rgb(255, 255, 0);
    border-bottom: 2px solid;
    transform: rotate(45deg);
}

/* Police */
.font-family-numerical{
    font-family: 'OCR A Std', monospace;
}

/* Colors */
.black-ink{
    color: black;
}
.yellow-ink{
    color: rgb(255, 255, 0);
}

.photography-spacing{
    justify-content: space-between;
    padding: 60px;
}

.flex-column{
flex-direction:column;
}
